*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000;
}

header, nav, .hero, .produtos {
    display: flex;
    flex-wrap: wrap;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(218, 6, 38);
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: yellow;
}

nav {
    gap: 2rem;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    color: white;
}

nav a:hover {
    color: yellow;
}

@media (max-width: 425px) {
    nav a {
        font-size: 0.75rem;
    }
}

main {
    padding: 2rem;
    min-height: 100vh;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: red;
}

main  {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.hero {
    gap: 2rem;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
}

.hero img {
    width: 350px;
    min-width: 275px;
    border-radius: 15px;
}

.hero-text{
    flex: 1;
    min-width: 250px;
}

.hero-text h2 {
    color: red;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.hero-text p {
    text-align: justify;
    font-size: 1.1rem;
    font-style: italic;
}

.hero-text ul {
    text-align: left;
    margin: 0 0 2rem 2rem;
}

li {
    margin-bottom: 0.5;
}

.obs {
    color:grey;
}

.produtos {
    gap: 1.5rem;
}

.card {
    flex: 1;
    min-width: 250px;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    background-color: red;
    color:white;
    transition: 0.3px;
}

.card hover {
    transform: translate(-5px);
}

.card img {
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.green {
    background-color: rgb(14, 171, 14);
}

.blue {
    background-color: rgb(154, 154, 237);
}

.yellow {
    background-color: rgb(240, 240, 154);
}

.brown {
    background-color: rgb(111, 54, 18);
}

.lightbrown {
    background-color: rgb(197, 109, 51);
}

footer {
    text-align: center;
    color: white;
    background-color: red;
    padding: 2rem;
}
